<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <style>
        .form-control {
            width: 300px;
        }

        .form-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        body {
            background-color: white;
        }
    </style>
</head>

<body>
    
    <nav class="navbar navbar-expand-lg bg-black navbar-dark fixed-top">
        <div class="container-fluid">
          <!-- Brand Logo -->
          <a class="navbar-brand" href="shop_home">
            <img src="{% static 'img/logo3.jpg' %}" class="rounded-circle " alt="Brand Logo" height="40">S u P P L - X
          </a>

    <!-- Navbar Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
          <!-- Navbar Links -->
          <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link " href="../shop_home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../add_pro">Add products </a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li> -->
            </ul>
          </div>
        </div>
      </nav>

    <div class="form-container">
        <div>
            <h2>Edit product</h2>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3 mt-3">
                    <label for="pr">Product id:</label>
                    <input type="text" class="form-control" id="product id" placeholder="product id" name="pro_id" value="{{data.pro_id}}">
                </div>
                <div class="mb-3">
                    <label for="pwd">Name:</label>
                    <input type="text" class="form-control" id="pwd" placeholder="Enter name" name="name" value="{{data.name}}">
                </div>
                <div class="mb-3">
                    <label for="pwd">Price</label>
                    <input type="number" class="form-control" id="pwd" placeholder="Enter price" name="price" value="{{data.price}}">
                </div>

                <div class="mb-3">
                    <label for="pwd">Offer price</label>
                    <input type="number" class="form-control" id="pwd" placeholder="Enter offer price" name="offer_price" value="{{data.offer_price}}">
                </div>

                <div class="mb-3">
                    <label for="pwd">Description</label>
                    <input type="text" class="form-control" id="pwd" placeholder="Enter description" name="des" value="{{data.des}}">
                </div>

                <div class="mb-3">
                    <label for="pwd">Stock</label>
                    <input type="number" class="form-control" id="pwd" placeholder="Enter stock" name="stock" value="{{data.stock}}">
                </div>

                <div class="mb-3">
                    <label for="pwd"></label>
                    <img src="{{data.img.url}}" alt="" style="width: 400px; height: 400px;">
                    <input type="file" class="form-control" id="pwd" name="img">
                </div>

                <button type="submit" class="btn btn-primary">Update</button>

        </div>

        </form>
    </div>
    </div>
</body>

</html>